*.pth
*.tar
*.jpg
*.svg
*.txt
!*/requirements.txt
*.pyc

STARK/test/*
SiamFC/logs/*
SiamFC/snapshots/*
SiamFC/Pruning_results/*
*results/*
SiamFC/datasets/*
SiamFC/tools/*
*.model
SiamRPN/experiments/siamrpn_r50_l234_dwxcorr/logs/*